.pushmenu { position: fixed; left: 255px; }
.navbar .ml-auto li{ margin: 0 6px;}
.layout-fixed .main-sidebar {
   position: fixed;
   float: none;
   top: unset;
   bottom: unset;
   left: 0;
}

.cvsFile{ padding: 0.2rem 0.75rem; }


/*Datatable*/
/*header & footer*/
.dataTables_wrapper .dataTables_length,
.dataTables_filter,
.dataTables_info,
.dataTables_paginate {
   background-color: paleturquoise;

}

.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_paginate{
   float: none;
}

.dataTables_wrapper .dataTables_length label,
.dataTables_wrapper .dataTables_filter label{
   padding: 0.175rem 0.5rem;
   margin-bottom: 0rem;
}

/*header left + right*/
.dataTables_wrapper .dataTables_length select,
.dataTables_wrapper .dataTables_filter input {
   background-color: #fff; padding: 0px;
}

/*Table body*/

table.dataTable { margin: 5px 0px; border-collapse: collapse; }

.table-bordered, .table-bordered td, .table-bordered th { /*border: 1px solid #dee2e6; border: 1px dashed;*/ }

table.dataTable thead th, table.dataTable.no-footer{ border-bottom: unset; }

table.dataTable thead th,
table.dataTable thead td { padding: 2px 20px; text-transform: capitalize;
    /*background-color: turquoise;*/
   text-align: center;
}

table.dataTable tbody td { text-align: center; vertical-align: middle; padding: 2px; }
table.dataTable tbody tr { background-color: whitesmoke; }


/*Buttom*/
.dataTables_wrapper .dataTables_info { padding: 0.5rem; }
.dataTables_wrapper .dataTables_paginate { padding: 0.25em; }

.dataTables_wrapper .dataTables_paginate .paginate_button {
   min-width: 1.5em; padding: 0.2em 0.6em; margin-left: 2px;
}


/*Alert message*/
.alert {
    margin-top: 0px;
    position: absolute;
    right: 0px;
    z-index: 1;
    color: #000;
 }
 .alert .close{
    color: #000 !important;
    margin: 0 -8px 0px 10px;
    line-height: 20px;
 }
 .alert .close:hover{
    color: black;
 }

 button:focus {
     outline: unset !important;
 }

